<div class="container">
  <h2 style="text-align: center; margin: 2rem 0">Search items</h2>
  <form
    action="/items/admin"
    method="GET"
    style="display: flex; align-items: center; flex-direction: column"
  >
    <div style="width: 65%">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        name="name"
        value="<%= searchOptions.name %>"
        class="form-control"
      />
    </div>
    <div style="width: 65%">
      <label for="min">Min price</label>
      <input
        id="min"
        type="number"
        name="min"
        value="<%= searchOptions.min%>"
        class="form-control"
      />
    </div>
    <div style="width: 65%">
      <label for="max">Max price</label>
      <input
        id="max"
        type="number"
        name="max"
        value="<%= searchOptions.max%>"
        class="form-control"
      />
    </div>
    <div style="width: 65%">
      <label for="category">Category</label>
      <select name="category" id="category">
        <option value="">select a category</option>
        <% for( let i = 0; i < categoryEnum.length; i++ ) { %>
        <option value="<%=categoryEnum[i]%>"><%=categoryEnum[i]%></option>
        <% } %>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" style="margin-top: 4px">
      Search
    </button>
  </form>
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <h1>All Items</h1>
    <a class="btn btn-danger" href="/items/create"
      ><i class="fas fa-plus"></i
    ></a>
  </div>

  <% if(items.length > 0) {%>
  <table class="table" style="border: 1px solid gray">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Discount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < items.length; i++) { %>
      <tr data-href="/items/<%= items[i].id %>">
        <td><%= items[i].name %></td>
        <td><%= items[i].price %></td>
        <td><%= items[i].category %></td>
        <td><%= items[i].discount %></td>
        <td>
          <span
            class="text-gradient"
            style="display: flex; position: absolute; font-size: 1.2rem"
          >
            <a style="color: black" href="/items/update/<%= items[i].id %>"
              ><i class="fas fa-pencil-alt"></i
            ></a>
            <form
              method="POST"
              action="/items/<%= items[i].id %>?_method=DELETE"
            >
              <button
                type="submit"
                class="fas fa-trash-alt"
                style="background: none; border: none"
              ></button>
            </form>
          </span>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% }else{ %>
  <br />
  <div class="alert alert-warning" style="padding: 10px">
    No items found with this criteria
  </div>
  <% } %>
</div>
