<img
  alt="<%= item.name %>"
  height="150"
  width="100"
  style="object-fit: contain"
  src="<%= item.itemImagePath %>"
/>
<div>Name : <%= item.name %></div>
<div>Price : <%= item.price %></div>
<div>quantity : <%= item.quantity %></div>
<div>category : <%= item.category %></div>
<div>discount : <%= item.discount %></div>
<% if (item.compatibility) item.compatibility.forEach(car => { %>
<p><%= car %></p>
<% }) %>
<form method="POST" action="/items/<%= item.id %>?_method=DELETE">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
