<link rel="stylesheet" href="/css/item-list.css" />
<div class="shop-bg">
  <!-- Items Area -->
  <div class="shop-group">
    <h1>Our Products</h1>
    <section>
      <div class="products-wrapper">
        <div class="group-title">
          <h1>Body Parts</h1>
        </div>
        <div class="products">
          <% bodyParts.forEach(item => { %>
          <div class="product">
            <p><%= item.name %></p>
            <img
              src="<%= item.itemImagePath %>"
              alt=""
              width="150px"
              height="150px"
              style="object-fit: contain"
            />
            <div class="product-price">
              <p><%= item.price %> TND</p>
              <button class="btn-sm btn-danger">Add to Cart</button>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="see-all">
          <a href="">see all <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </section>
    <section>
      <div class="products-wrapper">
        <div class="group-title">
          <h1>Lights</h1>
        </div>
        <div class="products">
          <% lights.forEach(item => { %>
          <div class="product">
            <p><%= item.name %></p>
            <img
              src="<%= item.itemImagePath %>"
              alt=""
              width="150px"
              height="150px"
              style="object-fit: contain"
            />
            <div class="product-price">
              <p><%= item.price %> TND</p>
              <button class="btn-sm btn-danger">Add to Cart</button>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="see-all">
          <a href="">see all <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </section>
    <section>
      <div class="products-wrapper">
        <div class="group-title">
          <h1>Engines</h1>
        </div>
        <div class="products">
          <% engines.forEach(item => { %>
          <div class="product">
            <p><%= item.name %></p>
            <img
              src="<%= item.itemImagePath %>"
              alt=""
              width="150px"
              height="150px"
              style="object-fit: contain"
            />
            <div class="product-price">
              <p><%= item.price %> TND</p>
              <button class="btn-sm btn-danger">Add to Cart</button>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="see-all">
          <a href="">see all <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </section>
    <section>
      <div class="products-wrapper">
        <div class="group-title">
          <h1>Accessories</h1>
        </div>
        <div class="products">
          <% accessories.forEach(item => { %>
          <div class="product">
            <p><%= item.name %></p>
            <img
              src="<%= item.itemImagePath %>"
              alt=""
              width="150px"
              height="150px"
              style="object-fit: contain"
            />
            <div class="product-price">
              <p><%= item.price %> TND</p>
              <button class="btn-sm btn-danger">Add to Cart</button>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="see-all">
          <a href="">see all <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </section>
  </div>

  <!-- Offers Area -->
  <div class="shop-group">
    <h1>Our Offers</h1>
    <section>
      <div class="products-wrapper">
        <div class="group-title">
          <h1>Featured Offers</h1>
        </div>
        <div class="products">
          <% offers.forEach(offer => { %>
          <div class="product">
            <p><%= offer.name %></p>
            <img
              src="<%= offer.offerImagePath %>"
              alt=""
              width="150px"
              height="150px"
              style="object-fit: contain"
            />
            <div class="product-price">
              <p><%= offer.price %> TND</p>
              <form method="POST" action="shop/addOfferToCart">
                <input type="hidden" name="id" value="<%= offer.id %>" />
                <button type="submit" class="btn-sm btn-danger">
                  Add to Cart
                </button>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="see-all">
          <a href="">see all <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </section>
    <section>
      <div class="products-wrapper">
        <div class="group-title">
          <h1>Featured Offers</h1>
        </div>
        <div class="products">
          <div class="product">
            <p>Bumpers & Components</p>
            <img src="img/car parts/bumpers.jpg" alt="" />
            <div class="product-price">
              <p>25 TND</p>
              <button class="btn-sm btn-danger">Add to Cart</button>
            </div>
          </div>
        </div>
        <div class="see-all">
          <a href="">see all <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </section>
  </div>
</div>
