<div class="box-nav d-flex justify-between">
  <div style="float: right">
    <a href="/interventions"
      ><i class="fas fa-angle-double-left"></i> All interventions</a
    >
  </div>
</div>
<div class="container">
  <div class="row form-group">
    <label for="intervention-car" class="col-md-3"> car</label>
    <select
      id="intervention-car"
      name="car"
      class="col-md-3 form-control"
      required
    >
      <option value="">Please select a car</option>
      <% for(var i = 0; i < cars.length; i++) { %>
      <option value="<%= cars[i].id %>"><%= cars[i].brand %></option>
      <% } %>
    </select>
  </div>
  <div class="row form-group">
    <label for="intervention-startDate" class="col-md-3"> startDate</label>
    <input
      id="intervention-startDate"
      type="date"
      name="startDate"
      value="<%= intervention.startDate %>"
      class="col-md-3 form-control"
      required
    />
  </div>
  <div class="row form-group">
    <label for="intervention-estimatedTime" class="col-md-3">
      estimatedDate</label
    >
    <input
      id="intervention-estimatedTime"
      type="date"
      name="estimatedTime"
      value="<%= intervention.estimatedTime %>"
      class="col-md-3 form-control"
      required
    />
  </div>
  <div class="row form-group">
    <label for="intervention-notes" class="col-md-3"> notes</label>
    <textarea
      id="intervention-notes"
      type="text"
      name="notes"
      value="<%= intervention.notes %>"
      class="col-md-3 form-control"
      required
    ></textarea>
  </div>
  <div class="row form-group">
    <label for="intervention-type" class="col-md-3"> type</label>
    <input
      id="intervention-type"
      type="text"
      name="type"
      value="<%= intervention.type %>"
      class="col-md-3 form-control"
      required
    />
  </div>
  <div class="row form-group">
    <label for="intervention-discount" class="col-md-3"> discount</label>
    <input
      id="intervention-discount"
      type="text"
      name="discount"
      value="<%= intervention.discount %>"
      class="col-md-3 form-control"
    />
  </div>
  <div class="row form-group">
    <label for="intervention-price" class="col-md-3"> price</label>
    <input
      id="intervention-price"
      type="text"
      name="price"
      value="<%= intervention.price %>"
      class="col-md-3 form-control"
    />
  </div>
  <div class="row form-group">
    <label for="intervention-description" class="col-md-3"> description</label>
    <textarea
      class="col-md-3 form-control"
      id="intervention-description"
      type="text"
      name="description"
      min="1"
      value="<%= intervention.description %>"
      placeholder="type your description here"
      required
    ></textarea>
  </div>
  <div class="row form-group">
    <label for="intervention-staff" class="col-md-3"> staff</label>
    <select
      id="intervention-staff"
      name="staffs"
      class="col-md-3 form-control"
      multiple
    >
      <% for(var i = 0; i < staffs.length; i++) { %>
      <option value="<%= staffs[i]._id %>"><%= staffs[i].first_name %></option>
      <% } %>
    </select>
  </div>
  <div class="row form-group">
    <label for="intervention-client" class="col-md-3"> Client</label>
    <select
      id="intervention-client"
      name="client"
      class="col-md-3 form-control"
      required
    >
      <option value="">Please select a client</option>
      <% for(var i = 0; i < users.length; i++) { %>
      <option value="<%= users[i]._id %>"><%= users[i].first_name %></option>
      <% } %>
    </select>
  </div>
  <div class="row form-group">
    <label for="intervention-item" class="col-md-3"> Item</label>
    <select
      id="intervention-item"
      name="items"
      class="col-md-3 form-control"
      multiple
    >
      <% for(var i = 0; i < items.length; i++) { %>
      <option value="<%= items[i].id %>"><%= items[i].name %></option>
      <% } %>
    </select>
  </div>
</div>
