<div class="container">
  <div>
    <div>
      <a href="/interventions"
        ><i class="fas fa-angle-double-left"></i> All Interventions</a
      >
    </div>
  </div>
  <div class="form-title text-center">
    <h2 class="text-dark">Update Intervention</h2>
    <span class="text-light"
      >Use the below form to update an existing intervention</span
    >
  </div>
  <div class="container">
    <div class="row form-group">
      <label for="car" class="col-md-3"> car</label>
      <select id="car" name="car" class="col-md-3 form-control">
        <% for( let i = 0; i < cars.length; i++ ) { %> <% if(intervention.car.id
        == cars[i].id) { %>
        <option selected value="<%=cars[i].id%>"><%=cars[i].brand%></option>
        <% } else { %>
        <option value="<%=cars[i].id%>"><%=cars[i].brand%></option>
        <% } %> <% } %>
      </select>
    </div>
    <div class="row form-group">
      <label for="intervention-startDate" class="col-md-3"> startDate</label>
      <input
        id="intervention-startDate"
        type="date"
        name="startDate"
        value="<%= intervention.startDate == null ? '' : intervention.startDate.toISOString().split('T')[0] %>"
        class="col-md-3 form-control"
      />
    </div>
    <div class="row form-group">
      <label for="intervention-estimatedTime" class="col-md-3">
        estimatedDate</label
      >
      <input
        id="intervention-estimatedTime"
        type="date"
        name="estimatedTime"
        value="<%=  intervention.estimatedTime == null ? '' : intervention.estimatedTime.toISOString().split('T')[0]%>"
        class="col-md-3 form-control"
      />
    </div>
    <div class="row form-group">
      <label for="intervention-notes" class="col-md-3"> notes</label>
      <textarea
        id="intervention-notes"
        type="text"
        name="notes"
        class="col-md-3 form-control"
      >
<%= intervention.notes %></textarea
      >
    </div>
    <div class="row form-group">
      <label for="intervention-type" class="col-md-3"> type</label>
      <input
        id="intervention-type"
        type="text"
        name="type"
        value="<%= intervention.type %>"
        class="col-md-3 form-control"
      />
    </div>
    <div class="row form-group">
      <label for="intervention-discount" class="col-md-3"> discount</label>
      <input
        id="intervention-discount"
        type="text"
        name="discount"
        value="<%= intervention.discount %>"
        class="col-md-3 form-control"
      />
    </div>
    <div class="row form-group">
      <label for="intervention-price" class="col-md-3"> price</label>
      <input
        id="intervention-price"
        type="text"
        name="price"
        value="<%= intervention.price %>"
        class="col-md-3 form-control"
      />
    </div>
    <div class="row form-group">
      <label for="intervention-description" class="col-md-3">
        description</label
      >
      <textarea
        class="col-md-3 form-control"
        id="intervention-description"
        type="text"
        name="description"
        min="1"
      >
<%= intervention.description %></textarea
      >
    </div>
    <div class="row form-group">
      <label for="staffs" class="col-md-3"> staff</label>
      <select id="staffs" name="staffs" class="col-md-3 form-control" multiple>
        <% for( let i = 0; i < staffs.length; i++ ) { %> <%
        if(interventionStaffs.includes(staffs[i].id)) { %>
        <option selected value="<%=staffs[i].id%>">
          <%=staffs[i].first_name%>
        </option>
        <% } else { %>
        <option value="<%=staffs[i].id%>"><%=staffs[i].first_name%></option>
        <% } %> <% } %>
      </select>
    </div>
    <div class="row form-group">
      <label for="client" class="col-md-3"> Client</label>
      <select id="client" name="client" class="col-md-3 form-control">
        <% for( let i = 0; i < users.length; i++ ) { %> <%
        if(intervention.client.id == users[i]._id) { %>
        <option selected value="<%=users[i]._id%>">
          <%=users[i].first_name%>
        </option>
        <% } else { %>
        <option value="<%=users[i]._id%>"><%=users[i].first_name%></option>
        <% } %> <% } %>
      </select>
    </div>
    <div class="row form-group">
      <label for="items" class="col-md-3"> Items</label>
      <select name="items" id="items" multiple>
        <% for( let i = 0; i < items.length; i++ ) { %> <%
        if(interventionItems.includes(items[i].id)) { %>
        <option selected value="<%=items[i].id%>"><%=items[i].name%></option>
        <% } else { %>
        <option value="<%=items[i].id%>"><%=items[i].name%></option>
        <% } %> <% } %>
      </select>
    </div>
  </div>
</div>
