<main id="site-main">
  <div class="container">
    <h2>Search interventions</h2>
    <form action="/interventions" method="GET">
      <div>
        <label>Client</label>
        <input
          type="text"
          name="client"
          value="<%= searchOptions.client %>"
          class="form-control"
        />
      </div>
      <div>
        <label>Car</label>
        <input
          type="text"
          name="car"
          value="<%= searchOptions.car %>"
          class="form-control"
        />
      </div>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <h1>All Interventions</h1>
  </div>
    <!-- form handling -->
    <% if(interventions.length > 0) {%>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Client first name</th>
          <th>Staff</th>
          <th>Car</th>
          <th>Price</th>
          <th>Status</th>
          
        </tr>
      </thead>
      <tbody>    
        <% for(var i = 0; i < interventions.length; i++) { %>
        <tr data-href="/interventions/showIntervention/<%= interventions[i].id %>">
          <td><%= interventions[i].client.first_name %></td>
          
          <td> <% for(var j = 0; j < interventions[i].staffs.length; j++) { %> 
           <div> <%= interventions[i].staffs[j].first_name %>  </div> <% } %></td>
          
          <td><%= interventions[i].car.brand %></td>
          <td><%= interventions[i].price %></td>
          <td><%= interventions[i].status %></td>
         
        </tr>
        <% }
             %>
      </a>
      </tbody>
    </table>
    <% }else{ %>
      <br />
      <div class="alert alert-warning" style="padding: 10px">
        No Offers found with this criteria
      </div>
      <% } %>
    <script>
      document.addEventListener("DOMContentLoaded", () =>{
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row =>{
          row.addEventListener("click",()=>{
            window.location.href = row.dataset.href ;
          })
        })
      })
    </script>
  </div>
</main>
