<main id="site-main">
  <div class="container">
    <div>
      <a href="/interventions/new">
        <span style= "color : black"
          >new intervention <i class="fas fa-plus"></i>
        </span>
      </a>
    </div>
    <h2>Search interventions</h2>
    <form action="/interventions" method="GET">
      <div>
        <label>Client</label>
        <input
          type="text"
          name="client"
          value="<%= searchOptions.client %>"
          class="form-control"
        />
      </div>
      <div>
        <label>Staff</label>
        <input
          type="text"
          name="staff"
          value="<%= searchOptions.staff %>"
          class="form-control"
        />
      </div>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <!-- form handling -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Client first name</th>
          <th>Client last name</th>
          <th>Price</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>    
        <% for(var i = 0; i < interventions.length; i++) { %>
        <tr data-href="/interventions/showIntervention/<%= interventions[i].id %>">
          <td><%= interventions[i].client.first_name %></td>
          <td><%= interventions[i].client.last_name %></td>
          <td><%= interventions[i].price %></td>
          <td><%= interventions[i].status %></td>
          <td>
            <span class="text-gradient"
                >
            <a style="color: black" href="/interventions/<%= interventions[i].id %>"><i class="fas fa-pencil-alt"></i
              ></a>
            </span>
            <form
              method="POST"
              action="/interventions/done/<%= interventions[i].id %>?_method=PUT"
            >
              <button type="submit" class="btn btn-danger">Done</button>
            </form>
          </td>
        </tr>
        <% } %>
      </a>
      </tbody>
    </table>
    <script>
      document.addEventListener("DOMContentLoaded", () =>{
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row =>{
          row.addEventListener("click",()=>{
            window.location.href = row.dataset.href ;
          })
        })
      })
    </script>
  </div>
</main>
