<main id="site-main">
  <div
    class="container"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
    "
  >
    <h2>Search cars</h2>
    <form
      action="/cars"
      method="GET"
      style="
        padding: 4em;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1em;
      "
    >
      <div>
        <label>brand</label>
        <input
          type="text"
          name="brand"
          value="<%= searchOptions.brand %>"
          class="form-control"
          placeholder="enter brand"
        />
      </div>
      <div>
        <label>model</label>
        <input
          type="text"
          name="model"
          value="<%= searchOptions.model %>"
          class="form-control"
          placeholder="enter model"
        />
      </div>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <!-- form handling -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>brand</th>
          <th>model</th>
          <th>platesNumber</th>
          <th>year</th>
          <th>color</th>
          <th>carStatus</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < cars.length; i++) { %>
        <tr>
          <td><%= cars[i].brand %></td>
          <td><%= cars[i].model %></td>
          <td><%= cars[i].platesNumber %></td>
          <td><%= cars[i].year %></td>
          <td><%= cars[i].color %></td>
          <td><%= cars[i].carStatus %></td>
          <td>
            <span class="text-gradient d-flex">
              <a style="color: black" href="/cars/<%= cars[i].id %>"
                ><i class="fas fa-pencil-alt"></i
              ></a>

              <form
                method="POST"
                action="/cars/delete/<%= cars[i].id %>?_method=DELETE"
              >
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </span>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>
